html,
body,
#root {
  height: 100%;
  overflow: hidden;
}
body {
  background: var(--bg-overlay-app-frame, var(--background-tertiary));
}
html {
  --brand-experiment-100: var(--brand-100);
  --brand-experiment-130: var(--brand-130);
  --brand-experiment-160: var(--brand-160);
  --brand-experiment-200: var(--brand-200);
  --brand-experiment-230: var(--brand-230);
  --brand-experiment-260: var(--brand-260);
  --brand-experiment-300: var(--brand-300);
  --brand-experiment-330: var(--brand-330);
  --brand-experiment-360: var(--brand-360);
  --brand-experiment-400: var(--brand-400);
  --brand-experiment-430: var(--brand-430);
  --brand-experiment-460: var(--brand-460);
  --brand-experiment: var(--brand-500);
  --brand-experiment-500: var(--brand-500);
  --brand-experiment-530: var(--brand-530);
  --brand-experiment-560: var(--brand-560);
  --brand-experiment-600: var(--brand-600);
  --brand-experiment-630: var(--brand-630);
  --brand-experiment-660: var(--brand-660);
  --brand-experiment-700: var(--brand-700);
  --brand-experiment-730: var(--brand-730);
  --brand-experiment-760: var(--brand-760);
  --brand-experiment-800: var(--brand-800);
  --brand-experiment-830: var(--brand-830);
  --brand-experiment-860: var(--brand-860);
  --brand-experiment-900: var(--brand-900);
  --brand-experiment-05a: hsl(var(--brand-500-hsl) / 0.05);
  --brand-experiment-10a: hsl(var(--brand-500-hsl) / 0.1);
  --brand-experiment-15a: hsl(var(--brand-500-hsl) / 0.15);
  --brand-experiment-20a: hsl(var(--brand-500-hsl) / 0.2);
  --brand-experiment-25a: hsl(var(--brand-500-hsl) / 0.25);
  --brand-experiment-30a: hsl(var(--brand-500-hsl) / 0.3);
  --brand-experiment-35a: hsl(var(--brand-500-hsl) / 0.35);
  --brand-experiment-40a: hsl(var(--brand-500-hsl) / 0.4);
  --brand-experiment-45a: hsl(var(--brand-500-hsl) / 0.45);
  --brand-experiment-50a: hsl(var(--brand-500-hsl) / 0.5);
  --brand-experiment-55a: hsl(var(--brand-500-hsl) / 0.55);
  --brand-experiment-60a: hsl(var(--brand-500-hsl) / 0.6);
  --brand-experiment-65a: hsl(var(--brand-500-hsl) / 0.65);
  --brand-experiment-70a: hsl(var(--brand-500-hsl) / 0.7);
  --brand-experiment-75a: hsl(var(--brand-500-hsl) / 0.75);
  --brand-experiment-80a: hsl(var(--brand-500-hsl) / 0.8);
  --brand-experiment-85a: hsl(var(--brand-500-hsl) / 0.85);
  --brand-experiment-90a: hsl(var(--brand-500-hsl) / 0.9);
  --brand-experiment-95a: hsl(var(--brand-500-hsl) / 0.95);
}

:root {
  font-family: /** "Roboto", */ "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  color: var(--header-primary);
  background: var(--bg-overlay-chat, var(--background-primary));
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#dialog-root, #popup-root {
  display: none;

  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1000;

  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100vw;
  background-color: var(--black-500);
}
#dialog-root.open, #popup-root.open {
  display: flex;
}
#popup-root {
  background-color: unset;
}
.app {
  height: 100%;
  display: grid;
  grid-template-columns: auto max-content;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 10px;
}
.chat-body {
  overflow: hidden;
  width: fit-content;
  margin: 10px;
  margin-right: 0;
  padding-bottom: 10px;
  display: grid;
  /* align-items: center; */
  justify-content: center;
  height: 100%;
  grid-template-rows: 10fr 54px;
  background-color: var(--bg-body);
  border-radius: 15px;
  box-shadow: -2px 4px 4px 0px rgba(0, 0, 0, 0.291);
}
.input {
  position: relative;
  z-index: 1000;
  width: 100%;
}
.input input {
  background-color: var(--bg-body-hover);
}
.input::after {
  z-index: 999;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-left-color: var(--bg-body-hover);
  border-right: 0;
  border-bottom: 0;
  margin-top: -9.5px;
  margin-right: -10px;
  border-top-width: 40px;
}

.chat-body-scroll {
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  overflow-y: auto;
}
.empty-space {
  flex: 1;
}
.scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar::-webkit-scrollbar-thumb,
.scrollbar::-webkit-scrollbar-track {
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 8px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-auto-thumb);
  min-height: 40px;
}
.scrollbar::-webkit-scrollbar-corner {
  background-color: transparent;
}
.scrollbar::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}
.scrollbar::-webkit-scrollbar-track {
  background-color: var(--scrollbar-auto-track);
}

.thin-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.thin-scrollbar::-webkit-scrollbar-corner {
  background-color: transparent;
}
.thin-scrollbar::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: var(--scrollbar-thin-thumb);
  min-height: 40px;
}
.message-tail {
  position: absolute;
  left: -6px;
  bottom: 0;
}
.message-tail.from-me {
  left: unset;
  right: -6px;
}
section {
  display: flex;
  flex-direction: column;
  width: 100%;
}
