html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

:root {
  /* light/bg-body */
  --bg-body: #ffffff;

  /* light/text-100 */
  --text-100: #060607;

  /* light/header-light */
  --header-light: #747f8d;

  /* light/header-dark */
  --header-dark: #4f5660;

  /* light/bg-second */
  --bg-second: #EBEDEF;

  /* light/bg-active */
  --bg-active: #d3d7db;

  /* light/sidebar-primary */
  --sidebar-primary: #f2f3f5;

  /* light/sidebar-second */
  --sidebar-second: #ebedef;

  /* light/divider-primary */
  --divider-primary: #e3e5e8;

  /* light/divider-body */
  --divider-body: #e3e5e8;

  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  color: var(--text-100);
  background: var(--bg-body);
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
@media (prefers-color-scheme: dark) {
  :root {
    /* dark/bg-body */
    --bg-body: #37393f;

    /* dark/text-100 */
    --text-100: #ffffff;

    /* dark/header-light */
    --header-light: #8e9297;

    /* dark/header-dark */
    --header-dark: #b9bbbe;

    /* dark/divider */
    --divider: #303239;

    /* dark/bg-second */
    --bg-second: #40444b;

    /* dark/bg-active */
    --bg-active: #4f545c;

    /* dark/sidebar-primary */
    --sidebar-primary: #2e3036;

    /* dark/sidebar-secondary */
    --sidebar-secondary: #292b2f;

    /* dark/divider-primary */
    --divider-primary: #222327;

    /* dark/divider-body */
    --divider-body: #303239;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app {
  height: 100%;
  display: grid;
  grid-template-columns: auto max-content;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 10px;
}
.chat-body {
  overflow: hidden;
  width: fit-content;
  margin: 10px;
  margin-right: 0;
  padding-bottom: 10px;
  display: grid;
  /* align-items: center; */
  justify-content: center;
  height: 100%;
  grid-template-rows: 10fr 54px;
  background-color: var(--bg-body);
  border-radius: 15px;
  box-shadow: -2px 4px 4px 0px rgba(0, 0, 0, 0.291);
}
.input {
  position: relative;
  z-index: 1000;
  width: 100%;
}
.input input {
  background-color: var(--bg-body-hover);
}
.input::after {
  z-index: 999;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-left-color: var(--bg-body-hover);
  border-right: 0;
  border-bottom: 0;
  margin-top: -9.5px;
  margin-right: -10px;
  border-top-width: 40px;
}

.chat-body-scroll {
  overflow: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  padding: 0 10px;

  -ms-overflow-style: none;
  scrollbar-width: none;
}
.message-tail {
  position: absolute;
  left: -6px;
  bottom: 0;
}
.message-tail.from-me {
  left: unset;
  right: -6px;
}
section {
  width: 100%;
}
